.preference
	.container
		.preference__container
			.row
				.col-md-12.col-lg-4
					.preference-item
						.preference-item__icon-wrap
							+icon('circle')(class='preference-item__icon')
						.preference-item__info
							.preference-item__title Удобная доставка
							.preference-item__subtitle Мы предлагаем широкий выбор способов получения заказа
							a.link.preference-item__detail(href='#') Подробнее о доставке
				.col-md-12.col-lg-4
					.preference-item
						.preference-item__icon-wrap
							+icon('rect')(class='preference-item__icon')
						.preference-item__info
							.preference-item__title Удобная оплата
							.preference-item__subtitle Три способа оплаты и вариантов рассрочки для твоего удобства
							a.link.preference-item__detail(href='#') Подробнее об оплате
				.col-md-12.col-lg-4
					.preference-item
						.preference-item__icon-wrap
							+icon('romb')(class='preference-item__icon')
						.preference-item__info
							.preference-item__title Готовое решение
							.preference-item__subtitle Установим, настроим, покажем, обучим. Добавить сервисы
							a.link.preference-item__detail(href='#') Подробнее об услугах
