.preference {
	padding: 30px 0;
}

.preference-item {
	display: flex;
	align-items: flex-start;
	padding: 0 5px;
	margin: 0 0 20px;
}

.preference-item__icon-wrap {
	margin-right: 25px;
}

.preference-item__icon {
	fill: transparent;
	width: 70px;
	height: 70px;
}

.preference-item__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.preference-item__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	color: #19214F;
}

.preference-item__subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
}

.preference-item__detail {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #3450F2;
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
	.preference {
		padding: 20px 0;
	}

	.preference-item {
		padding: 0;
		margin: 0;
	}
	.preference-item__icon {
		fill: transparent;
		width: 48px;
		height: 48px;
	}

	.preference-item__title {
		font-size: 18px;
		line-height: 24px;
	}

	.preference-item__subtitle {
		font-size: 14px;
		line-height: 20px;
	}
	.preference-item__detail {
		font-size: 14px;
		line-height: 20px;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
