.header {
	background: #3450F2;
}


.header-top {
	display: none;
}

.header-main {
	padding: 13px 0;
}

.header-main__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header-menu-toggle__icon {
	fill: #fff;
}

.header-location {
	display: none;
}


.header-logo {
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: calc(50% - (85px / 2));
	width: 85px;
}

.header-logo .logo__icon {
	fill: #fff;
}

.header-link-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-link-item {
	display: flex;
	font-size: 0;
	align-items: center;
}

.header-link-item:not(:last-child) {
	margin-right: 20px;
}

.header-link-item__icon {
	fill: #fff;
}

.header-search {
	width: 100%;
}

.header-search {
	position: relative;
	padding: 15px 0 0;
}

.header-search__form {
	position: relative;
	width: 100%;
}

.header-search__input {
	width: 100%;
	height: 36px;
	border: none;
	border-radius: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #292D33;
	outline: none;
	padding: 0px 36px;
}

.header-search__clear {
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	padding: 10px;
	cursor: pointer;
	display: none;
}

.header-search__input:not(:placeholder-shown) ~ .header-search__clear {
	display: block;
}

.header-search__submit {
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	padding: 7px;
	cursor: pointer;
}

.header-search__submit__icon {
	fill: #3450F2;
	width: 22px !important;
	height: 22px !important;
}

.header-bottom {
	display: none;
	position: relative;
}

@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
	.header-menu-mob {
		display: none;
	}
	.header {
		background: transparent;
	}

	.header-main {
		padding: 10px 0 22px;
	}

	.header-top {
		background: #FAFAFB;
		min-height: 40px;
		display: flex;
		align-items: center;
	}

	.header-top__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header-nav-info {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	.nav-info__item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #292D33;
		text-decoration: none !important;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}

	.nav-info__item:not(:last-child) {
		margin-right: 30px;
	}

	.header-logo {
		position: static;
		margin: 0;
		width: 104px;

		.logo__icon {
			fill: #1B1918;
		}
	}
	.header-contact {
		position: relative;

		&:hover {
			.header-contact__popup {
				display: block;
			}
		}
	}

	.header-contact__popup {
		position: absolute;
		top: calc(100% + 11px);
		right: -35px;
		display: none;
		background: #fff;
		box-shadow: 0 15px 40px rgba(25,33,79,.1);
		z-index: 1031;
		width: 240px;

		&:before {
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			top: -6px;
			right: 35px;
			transform: rotate(45deg);
			z-index: 1;
			background-color: #fff;
		}
		&:after {
			content: '';
			top: -12px;
			left: 0;
			position: absolute;
			width: 100%;
			height: 12px;
			opacity: 0;
		}

		.contact-card__container {
			padding: 25px;
		}

		.contact-card__btn-call-back {
			width: 100%;
			padding: 0 25px;
			height: 40px;
		}

		.contact-card__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 20px;
			color: #19214F;
			margin-bottom: 5px;
		}

		.contact-card__time {
			border-bottom: 1px solid #E5E5EA;
			padding: 0 0 20px 0;
			margin: 0 0 20px 0;
		}

		.contact-card__phone {
			margin-bottom: 10px;
		}

		.contact-card__time-item {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 3px;
			}
		}

		.contact-card__phone-item, .contact-card__time-item__name {
			color: rgba(25, 33, 79, 0.75);
		}
		.contact-card__phone-item:not(:last-child) {
			margin-bottom: 2px;
		}

		.contact-card__message-item {
			margin: 0 5px 5px 0;
		}
		.contact-card__time-item__value {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: #19214F;
		}

		.contact-card__message {
			margin-bottom: 15px;
		}

		.contact-card__message-item__icon {
			width: 30px !important;
			height: 30px !important;
		}
	}


	.header-contact__toggle {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		color: #292D33;
		text-decoration: none !important;
		display: flex;
		align-items: center;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}

	.header-contact__toggle:before {
		content: '';
		width: 6px;
		height: 6px;
		display: block;
		background-color: #979797;
		border-radius: 50%;
		margin-right: 5px;
	}

	.header-contact__toggle:after {
		content: '';
		width: 12px;
		height: 12px;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguMjQ1NzkgNC41TDYgNi43NDMyN0wzLjc1NDIxIDQuNUwzIDUuMjUzMzdMNiA4LjI1TDkgNS4yNTMzN0w4LjI0NTc5IDQuNVoiIGZpbGw9IiNEOUQ5REUiLz48L3N2Zz4=);
		margin-left: 5px;
	}

	.header-contact__toggle.active:before {
		background-color: #21AE19;
	}

	.header-acc {
		margin-left: 30px;
		display: flex;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #333333;
		text-decoration: none !important;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}

	.header-acc__icon {
		fill: #D9D9DE;
		margin-right: 8px;
	}

	.header-location {
		display: flex;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #292D33;
		cursor: pointer;
		margin-left: 25px;


		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}

		&:after {
			content: '';
			width: 12px;
			height: 12px;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguMjQ1NzkgNC41TDYgNi43NDMyN0wzLjc1NDIxIDQuNUwzIDUuMjUzMzdMNiA4LjI1TDkgNS4yNTMzN0w4LjI0NTc5IDQuNVoiIGZpbGw9IiNEOUQ5REUiLz48L3N2Zz4=);
			margin-left: 5px;
		}
	}

	.header-menu-toggle__icon {
		fill: #D9D9DE;
		margin-right: 2px;
	}

	.header-link-item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-decoration: none !important;
		color: #333333;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}
	.header-link-item__icon {
		margin-right: 5px;
		fill: #D9D9DE
	}

	.header-link-item:not(:last-child) {
		margin-right: 30px;
	}
	.header-link-list {
		order: 10;
	}

	.header-main__container {
		display: flex;
		align-items: center;
	}
	.header-search {
		width: auto;
		flex-grow: 1;
		padding: 0 65px 0 85px;
	}

	.header-search__input {
		border: 1px solid #E5E5EA;
		height: 48px;
		padding: 0 84px 0 20px;
	}
	.header-search__submit {
		left: auto;
		right: 6px;
		top: 6px;
		border-radius: 4px;
		transition: background .3s ease;

		&:hover {
			background: #3450F2;

			svg {
				fill: #FFFFFF;
			}
		}

		&:active {
			background: #3046C2;

			svg {
				fill: #FFFFFF;
			}
		}
	}
	.header-search__clear {
		left: auto;
		right: 48px;
		top: 6px;
		border-radius: 4px;
		transition: background .3s ease;

		&:hover {
			background: #3450F2;

			svg {
				fill: #FFFFFF;
			}
		}

		&:active {
			background: #3046C2;

			svg {
				fill: #FFFFFF;
			}
		}
	}

	.header-bottom {
		display: block;
		background: #3450F2;
	}

	.header-bottom__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-nav {
		display: flex;
		align-items: center;
	}

	.nav__item {
		height: 50px;
		padding: 0 20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		cursor: pointer;
		text-decoration: none !important;
		user-select: none;
		transition: background .3s ease;

		&:hover {

			background: #3046C2;

			svg {
				fill: #3046C2;
			}
		}

		&:active {
			background: #3450F2;

			svg {
				fill: #3450F2;
			}
		}
	}

	.nav__item_sale {
		background: #F25234;
		padding: 0 30px;
	}
	.nav__item_catalog-toggle {

		&:before {
			content: '';
			margin-right: 10px;
			width: 24px;
			height: 24px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIzIiB5PSI1IiB3aWR0aD0iMTgiIGhlaWdodD0iMiIgZmlsbD0id2hpdGUiLz48cmVjdCB4PSIzIiB5PSIxMSIgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIi8+PHJlY3QgeD0iMyIgeT0iMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIyIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==);
		}

		&.active {
			background: #17E7A1;
			box-shadow: 2px 0px 0px 0px rgba(#292D33, .25);

			&:before {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDEzLjQ2MThMNS40NjE3OSAyMEw0IDE4LjUzODJMMTAuNTM4MiAxMkw0IDUuNDYxNzlMNS40NjE3OSA0TDEyIDEwLjUzODJMMTguNTM4MiA0TDIwIDUuNDYxNzlMMTMuNDYxOCAxMkwyMCAxOC41MzgyTDE4LjUzODIgMjBMMTIgMTMuNDYxOFoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
			}
		}
	}
	.nav-catalog {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 50px 0 20px;
		z-index: $zindex-fixed;
		box-shadow: 0px 15px 40px rgba(25, 33, 79, 0.1);

		&.active {
			display: block;
		}
	}

	.nav-catalog-list {
		padding: 5px 0 0 49px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 50px;
	}

	.nav-catalog-link-more {
		margin-top: 10px;
	}

	.nav-catalog-list__title__icon {
		fill: #3450F2;
		position: absolute;
		top: 0;
		left: 0;
	}
	.nav-catalog-list__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: #19214F;
		margin-bottom: 10px;
		width: 100%;
		text-decoration: none!important;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}

	.nav-catalog__item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #74747A;
		width: 100%;
		text-decoration: none!important;

		&:hover {
			color: #3450F2;

			svg {
				fill: #3450F2;
			}
		}

		&:active {
			color: #3046C2;

			svg {
				fill: #3046C2;
			}
		}
	}

	.nav-catalog__item:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
