.header
	.header__container
		.header-top
			.header-top__container.container
				nav.nav-info.header-nav-info
					a.nav-info__item(href='#') Оплата
					a.nav-info__item(href='#') Доставка
					a.nav-info__item(href='#') Рассрочка
					a.nav-info__item(href='#') Блог
					a.nav-info__item(href='#') Наши магазины
				.header-contact
					a.header-contact__toggle(href='tel:+375298017474') +375 29 801-74-74
					.header-contact__popup
						+contact-card()
				a.header-acc(href='#')
					+icon('acc')(class='header-acc__icon', style='width: 24px; height: 24px')
					| Личный кабинет
		.header-main
			.header-main__container.container
				+menu-mob()(class='header-menu-mob')
				+logo()(class='header-logo')
				.header-location(data-toggle="modal" data-target="#modal-location")
					+icon('geo')(class='header-menu-toggle__icon', style='width: 24px; height: 24px')
					.header-location__value Минск
				.header-link-list
					a.header-link-item.d-none.d-lg-flex(href='#')
						+icon('compare')(class='header-link-item__icon', style='width: 24px; height: 24px')
						span.header-link-item__value 0
					a.header-link-item.d-none.d-lg-flex(href='#')
						+icon('heart')(class='header-link-item__icon', style='width: 24px; height: 24px')
						span.header-link-item__value 0
					a.header-link-item.d-lg-none(href='#')
						+icon('phone')(class='header-link-item__icon', style='width: 24px; height: 24px')
					a.header-link-item(href='#')
						+icon('cart')(class='header-link-item__icon', style='width: 24px; height: 24px')
						span.header-link-item__value Корзина
				.header-search
					form.header-search__form
						input.header-search__input.js-header-search__input(type='text' placeholder='Поиск товара')
						button.header-search__clear.js-header-search__clear(type='button')
							+icon('close')(class='header-search__clear__icon', style='width: 16px; height: 16px')
						button.header-search__submit(type='submit')
							+icon('search')(class='header-search__submit__icon', style='width: 24px; height: 24px')

		.header-bottom
			.header-bottom__container.container
				nav.nav.header-nav
					.nav__item.nav__item_catalog-toggle.btn-toggle(data-target='#nav-catalog', data-overflow-click="true") Весь каталог
					a.nav__item(href='#') Стиральные машина
					a.nav__item(href='#') Варочные панели
					a.nav__item(href='#') Духовые шкафы
					a.nav__item(href='#') Холодильники
					a.nav__item(href='#') Вытяжки
				a.nav__item.nav__item_sale Скидки
			#nav-catalog.nav-catalog
				.nav-catalog__container.container
					.row
						.col-md-12.col-lg-9
							.row
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('built-in-appliances')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Встраиваемая техника
										a.nav-catalog__item(href='#') Духовые шкафы
										a.nav-catalog__item(href='#') Посудомоечные машины
										a.nav-catalog__item(href='#') Варочные панели
										a.nav-catalog__item(href='#') Холодильники
										a.nav-catalog__item(href='#') Вытяжки кухонные
										a.nav-catalog__item(href='#') Микроволновые печи
										a.nav-catalog__item(href='#') Кофемашины
										a.nav-catalog__item(href='#') Стиральные машины
										a.nav-catalog__item(href='#') Морозильники
										a.nav-catalog__item(href='#') Шкафы для вакуумирования
										a.nav-catalog__item(href='#') Аксессуары для встраиваемой техники
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('bulky-equipment')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Отдельностоящая техника
										a.nav-catalog__item(href='#') Холодильники
										a.nav-catalog__item(href='#') Кухонные плиты
										a.nav-catalog__item(href='#') Посудомоечные машины
										a.nav-catalog__item(href='#') Стиральные машины
										a.nav-catalog__item(href='#') Морозильники
										a.nav-catalog__item(href='#') Вытяжки кухонные
										a.nav-catalog__item(href='#') Кофемашины
										a.nav-catalog__item(href='#') Винные шкафы
										a.nav-catalog__item(href='#') Настольные плиты
										a.nav-catalog__item(href='#') Хьюмидоры
										a.nav-catalog__item(href='#') Аксессуары для крупногабаритной техники
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('washing-mashine')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Стиральные и сушильные машины
										a.nav-catalog__item(href='#') Стиральные машины
										a.nav-catalog__item(href='#') Сушильные машины
										a.nav-catalog__item(href='#') Стиральные машины с сушкой
										a.nav-catalog__item(href='#') Стиральные машины с вертикальной загрузкой
										a.nav-catalog__item(href='#') Встраиваемые стиральные машины
										a.nav-catalog__item(href='#') Аксессуары для стиральных и сушильных машин
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('coffee-makers')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Кофеварки и кофемашины
										a.nav-catalog__item(href='#') Встраиваемые кофемашины
										a.nav-catalog__item(href='#') Гейзерные кофеварки
										a.nav-catalog__item(href='#') Кофемашины
										a.nav-catalog__item(href='#') Кофеварки
										a.nav-catalog__item(href='#') Кофемолки
										a.nav-catalog__item(href='#') Капельные кофеварки
										a.nav-catalog__item(href='#') Капсульные кофеварки
										a.nav-catalog__item(href='#') Рожковые кофеварки
										a.nav-catalog__item(href='#') Аксессуары для кофеварок и кофемашин
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('cooking-food')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Приготовление пиши
										a.nav-catalog__item(href='#') Блендеры
										a.nav-catalog__item(href='#') Измельчители (чопперы)
										a.nav-catalog__item(href='#') Кухонные комбайны
										a.nav-catalog__item(href='#') Ломтерезки
										a.nav-catalog__item(href='#') Микроволновые печи
										a.nav-catalog__item(href='#') Миксеры
										a.nav-catalog__item(href='#') Мультиварки
										a.nav-catalog__item(href='#') Мясорубки
										a.nav-catalog__item(href='#') Пароварки
										a.nav-catalog__item(href='#') Фритюрницы
										a.nav-catalog__item(href='#') Хлебопечки
										a.nav-catalog__item(href='#') Электрогрили
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('kitchen-small')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Мелкая техника для кухни
										a.nav-catalog__item(href='#') Кухонные весы
										a.nav-catalog__item(href='#') Подогреватели посуды
										a.nav-catalog__item(href='#') Соковыжималки
										a.nav-catalog__item(href='#') Тостеры
										a.nav-catalog__item(href='#') Чайники и термопасты
										a.nav-catalog__item(href='#') Аксессуары для кухонной техники
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('clothing-care-products')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Товары для ухода за одеждой
										a.nav-catalog__item(href='#') Гладильные доскиУтюги
										a.nav-catalog__item(href='#') Аксессуары для ухода за одеждой
								.col-md-12.col-lg-4
									.nav-catalog-list
										a.nav-catalog-list__title(href='#')
											+icon('cleaning-equipment')(class='nav-catalog-list__title__icon', style='width: 36px; height: 36px;')
											| Техника для уборки
										a.nav-catalog__item(href='#') Беспроводные пылесосы
										a.nav-catalog__item(href='#') Пылесосы
										a.nav-catalog__item(href='#') Роботы-пылесосы
										a.nav-catalog__item(href='#') Аксессуары для пылесосов
						.col-md-12.col-lg-3
							.nav-catalog-list
								.nav-catalog-list__title
									| Популярные бренды
								+lazy-img('nav-catalog-item-img', 'images/bosch.png', 'images/placeholder/bosch.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/electrolux.png', 'images/placeholder/electrolux.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/aeg.png', 'images/placeholder/aeg.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/siemens.png', 'images/placeholder/siemens.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/elica.png', 'images/placeholder/elica.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/waissgauf.png', 'images/placeholder/waissgauf.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/hansa.png', 'images/placeholder/hansa.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/neff.png', 'images/placeholder/neff.png', 'nav-catalog-item-img-wrap')
								+lazy-img('nav-catalog-item-img', 'images/liebherr.png', 'images/placeholder/liebherr.png', 'nav-catalog-item-img-wrap')
								a.nav-catalog-link-more.link(href='#') Все бренды


