@import '../../assets/css/common/components-import'



.page404

	&__inner
		min-height: 500px
		text-align: center

		+media($sm)
			min-height: 400px

	&__num
		position: relative
		margin-bottom: 25px
		font-size: 130px
		line-height: 1
		font-weight: 700
		color: $c-main

	&__descr
		padding: 0 15px

	&__action
	
	&__link
		display: block
		margin-top: 20px
		text-transform: uppercase
		color: $c-main
		font-size: 12px
		line-height: 1
		font-weight: 500



.page500
	
	&__inner
		position: relative
		padding: 65px 15px 0
		text-align: center

	&__logo
		position: relative
		max-width: 330px
		margin: 0 auto
		z-index: 10

		+media($sm)
			max-width: 260px

	&__num
		position: relative
		margin-top: 75px
		margin-bottom: 25px
		font-size: 130px
		line-height: 1
		font-weight: 700
		color: $c-main
		overflow: hidden


.sitemap
	position: relative

	&__bg
		position: absolute
		top: -240px
		right: 0
		width: 822px
		height: 638px

		+media($xl)
			right: -100px
	
	&__list
		margin: 0

		ul
			padding-left: 25px !important
			margin-top: 15px !important

	&__item
		margin-bottom: 10px !important

		&:before
			content: none !important

		a
			.wrapper &
				color: $c-text

		&_lvl1
			
			& > a
				font-weight: 700