mixin banner_s1()
	.container
		a.banner_s1(href='#')&attributes(attributes)
			+lazy-picture('banner_s1__img-wrap', [
				{data_srcset: 'images/banner_s1.jpg', srcset: 'images/placeholder/banner_s1.jpg', media: '580'},
				{data_srcset: 'images/banner_s1-mob.jpg', srcset: 'images/placeholder/banner_s1-mob.jpg', media: '0'}],
			'images/banner_s1.jpg', 'images/placeholder/banner_s1.jpg', 'banner_s1__img')
