.banner_s1 {
	display: block;
	width: 100%;
	margin-bottom: 40px;

}

.banner_s1__img {
	width: 100%;
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
	.banner_s1 {
		margin-bottom: 60px;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
