mixin contact-card()
	.contact-card()&attributes(attributes)
		.contact-card__container
			.contact-card__title Колл-центр
			.contact-card__time
				.contact-card__time-item
					.contact-card__time-item__name Будни:
					.contact-card__time-item__value 8:00 – 20:00
				.contact-card__time-item
					.contact-card__time-item__name Выходные:
					.contact-card__time-item__value 10:00 – 19:00
			.contact-card__title Колл-центр
			.contact-card__phone
				a.contact-card__phone-item(href='tel:+375255007474')  +375 17 336-40-44
					+icon('phone-active')(class='contact-card__phone-item__icon', style='width: 24px; height: 24px; fill: #7F4DA0')
				a.contact-card__phone-item(href='tel:+375255007474')  +375 44 500-74-74
				a.contact-card__phone-item(href='tel:+375255007474')  +375 29 801-74-74
				a.contact-card__phone-item(href='tel:+375255007474') +375 25 500-74-74
			.contact-card__message
				a.contact-card__message-item(href='skype:echo123?chat')
					+icon('skype')(class='contact-card__message-item__icon' style='width: 48px; height: 48px; fill: #03A9F4')
				a.contact-card__message-item(href='viber://chat/?number=%2BPHONENUMBERWITHCOUNTRYCODE')
					+icon('viber')(class='contact-card__message-item__icon' style='width: 48px; height: 48px; fill: #7F4DA0')
				a.contact-card__message-item(href='mailto:example@example.com')
					+icon('mail')(class='contact-card__message-item__icon' style='width: 48px; height: 48px; fill: #3450F2')
			.btn.btn-primary.contact-card__btn-call-back Перезвоните мне
