.contact-card {
	width: 100%;
}

.contact-card__container {
	width: 100%;
	padding: 35px 15px 50px;
	background-color: #fff;
}

.contact-card__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #19214F;
	margin-bottom: 10px;
}

.contact-card__time {
	margin-bottom: 25px;
}

.contact-card__time-item {
	display: flex;
	align-items: baseline;
}

.contact-card__time-item__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	width: 95px;
}

.contact-card__time-item__value {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.contact-card__phone {
	margin-bottom: 25px;
}

.contact-card__phone-item {
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-decoration: none !important;

	&:hover {
		color: #3450F2;

		svg {
			fill: #3450F2;
		}
	}

	&:active {
		color: #3046C2;

		svg {
			fill: #3046C2;
		}
	}
}

.contact-card__phone-item:not(:last-child) {
	margin-bottom: 10px;
}

.contact-card__phone-item__icon {
	margin-left: 10px;
}

.contact-card__message {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
}

.contact-card__message-item {
	font-size: 0;
}

.contact-card__btn-call-back {
	width: 100%;
}

.contact-card__message-item:not(:hover) .contact-card__message-item__icon{
	fill: #D9D9DE!important;
}
