-
	var pages = [
		{name: 'Главная', link: 'index'},
	]



+b.pages-viget

	+e.__menu
		+e('ul').__menu-list

			each item in pages
				+e('li').__menu-item
					+e('a').__menu-link(href= './' + item.link + '.html')= item.name
			+e('li').__menu-item
				+e('a').__menu-link(href= 'https://docs.google.com/spreadsheets/d/1YcqpCEznNq5BNHgp424PYz5S9d-zXE4KC7I3TJ2fdrY/edit#gid=0' target='_blank') План

	+e.__btn
		+icon('i-house')
		.media-pointer
