.btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px;
	cursor: pointer;
	user-select: none;
	text-decoration: none!important;
}


.btn.btn-primary {
	background: #3450F2;

	&:hover {
		box-shadow: 0px 4px 15px rgba(52, 80, 242, 0.295482);
	}

	&:active {
		background: #3046C2;
	}
}
