.footer

	.container.container-mob-no-padding
		.footer__container
			+breadcrumb()(class='breadcrumb_footer d-none d-md-block')
			.row
				.col-md-12.col-lg-5
					.footer__title ООО «Домотехника»
					.footer__text
						| г. Минск, просп. Победителей 106-11, пом. П-13
						br
						| Пн-Пт: 10:00 - 19:00, Сб: 11:00 - 17:00, Вс: вых.
						br
						br
						| Velcom:
						|
						a.footer__text-link(href='tel:') +375 29 698-10-18
						br
						| Городской:
						|
						a.footer__text-link(href='tel:') +375 17 336-40-44
						br
						| Velcom:
						|
						a.footer__text-link(href='tel:') +375 44 500-74-74
						br
						| Мтс:
						|
						a.footer__text-link(href='tel:') +375 29 801-74-74
						br
						| Life:
						|
						a.footer__text-link(href='tel:') +375 25 500-74-74
						br
						br
						a.footer__text-link(href='mailto:zakaz@domotehnika.by') zakaz@domotehnika.by
				.col-md-12.col-lg-7
					.row
						.col-md-12.col-lg-4
							.footer__list-wrap.footer__list-wrap_first
								.footer__title.footer__title_collapse.collapsed(data-toggle='collapse', data-target='#footer__list-1', aria-expanded='false', aria-controls='footer__list-1') Как купить
								#footer__list-1.footer__list.collapse
									a.footer__item(href='#') Оплата
									a.footer__item(href='#') Доставка
									a.footer__item(href='#') Возврат
									a.footer__item(href='#') Рассрочка
									a.footer__item(href='#') Система расчета ЕРИП
						.col-md-12.col-lg-4
							.footer__list-wrap
								.footer__title.footer__title_collapse.collapsed(data-toggle='collapse', data-target='#footer__list-2', aria-expanded='false', aria-controls='footer__list-2') Каталог
								#footer__list-2.footer__list.collapse
									a.footer__item(href='#') Акции
									a.footer__item(href='#') Стиральные машины
									a.footer__item(href='#') Варочные панели
									a.footer__item(href='#') Духовые шкафы
									a.footer__item(href='#') Холодильники
									a.footer__item(href='#') Вытяжки кухонные
									a.footer__item(href='#') Весь каталог
						.col-md-12.col-lg-4
							.footer__list-wrap
								.footer__title.footer__title_collapse.collapsed(data-toggle='collapse', data-target='#footer__list-3', aria-expanded='false', aria-controls='footer__list-3') Для покупателя
								#footer__list-3.footer__list.collapse
									a.footer__item(href='#') О компании
									a.footer__item(href='#') Акции и скидки
									a.footer__item(href='#') Обзоры и статьи
									a.footer__item(href='#') Как совершать покупку
									a.footer__item(href='#') Сервисные центры
									a.footer__item(href='#') Контакты
									a.footer__item(href='#') Адреса магазинов
	.footer__bottom
		.container
			.row.footer__bottom-row
				.col-md-3.col-lg-2
					+logo()(class='footer-logo d-none d-md-block')
				.col-10.col-md-8.col-lg-4
					.footer__copy
						| Все права защищены © 2015-2019, ООО «Домотехника»
						br
						| Дизайн
						|
						a.footer__copy-link(href='#') Студия Райт


