.hero
	.container.container-mob-no-padding
		.hero__container
			.hero-slider.js-hero-slider
				+hero-slider-item(1)
				+hero-slider-item(2)
				+hero-slider-item(3)
				+hero-slider-item(4)
				+hero-slider-item(5)
