mixin hero-slider-item(count)
	.hero-slider-item
		+lazy-picture-slider('hero-slider-item__img-wrap', [
			{data_srcset: 'images/hero-'+count+'.jpg', srcset: 'images/placeholder/hero-'+count+'.jpg', media: '480'},
			{data_srcset: 'images/hero-'+count+'-mob.jpg', srcset: 'images/placeholder/hero-'+count+'-mob.jpg', media: '0'}],
		'images/hero-'+count+'.jpg', 'images/placeholder/hero-'+count+'.jpg', 'hero-slider-item__img')
