.hero-slider {
	width: 100%;
	display: flex;
	overflow: hidden;


	.slick-arrow {
		display: none;
	}
}



.hero-slider-item {
	width: 100%;
	min-width: 100%;
}

.hero-slider-item__img {
	width: 100%;
}
.hero-slider.slick-initialized {
	overflow: visible;

	.hero-slider-item {
		min-width: auto;
	}
}

@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {
	.hero-slider {
		.slick-arrow {
			display: flex;
		}

		.slick-dots {
			top: auto;
			bottom: 30px;
			width: auto;
			left: 51%;
		}
	}

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

	.hero__container {
		padding: 24px 0 0 0;
	}
	.hero-slider.slick-dotted {
		margin-bottom: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
