.preloader {
	pointer-events: none;
	position: absolute;
	bottom: 20px;
	left: 5px;

	&:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		left: 15px;
		bottom: 15px;
		background: #fff;
		opacity: .5;
		z-index: 1;
	}

	&:before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		border: 1px solid $c-bg;
		border-top-color: $c-main;
		left: 0;
		top: 0;
		transform-origin: 50% 50%;
		animation-name: rotate;
		animation-duration: 600ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		z-index: 100;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
