mixin menu-mob()
	.menu-mob-wrap()&attributes(attributes)
		.menu-mob-toggle.btn-toggle(data-target='#menu-mob', data-overflow-click="true")
			+icon('btn-3-line')(class='header-menu-toggle__icon', style='width: 24px; height: 24px')
		#menu-mob.menu-mob
			.menu-mob__container
				.menu-mob__header
					+logo()(class='header-logo')
					+icon('close')(class='menu-mob__close btn-toggle' data-target='#menu-mob', style='width: 24px; height: 24px')
				+menu-mob__item('Каталог', true)(class='menu-mob__item_big-bold')
					+menu-mob__item('Встраиваемая техника', true)(class='menu-mob__item_bold')
						+menu-mob__item('Духовые шкафы', false)(class='menu-mob__item_light')
						+menu-mob__item('Посудомоечные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Варочные панели', false)(class='menu-mob__item_light')
						+menu-mob__item('Холодильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Вытяжки кухонные', false)(class='menu-mob__item_light')
						+menu-mob__item('Микроволновые печи', false)(class='menu-mob__item_light')
						+menu-mob__item('Кофемашины', false)(class='menu-mob__item_light')
						+menu-mob__item('Стиральные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Морозильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Шкафы для вакуумирования', false)(class='menu-mob__item_light')
						+menu-mob__item('Аксессуары для встраиваемой техники', false)(class='menu-mob__item_light')
					+menu-mob__item('Отдельностоящая техника', true)(class='menu-mob__item_bold')
						+menu-mob__item('Духовые шкафы', false)(class='menu-mob__item_light')
						+menu-mob__item('Посудомоечные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Варочные панели', false)(class='menu-mob__item_light')
						+menu-mob__item('Холодильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Вытяжки кухонные', false)(class='menu-mob__item_light')
						+menu-mob__item('Микроволновые печи', false)(class='menu-mob__item_light')
						+menu-mob__item('Кофемашины', false)(class='menu-mob__item_light')
						+menu-mob__item('Стиральные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Морозильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Шкафы для вакуумирования', false)(class='menu-mob__item_light')
						+menu-mob__item('Аксессуары для встраиваемой техники', false)(class='menu-mob__item_light')
					+menu-mob__item('Стиральные и сушильные машины', true)(class='menu-mob__item_bold')
						+menu-mob__item('Духовые шкафы', false)(class='menu-mob__item_light')
						+menu-mob__item('Посудомоечные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Варочные панели', false)(class='menu-mob__item_light')
						+menu-mob__item('Холодильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Вытяжки кухонные', false)(class='menu-mob__item_light')
						+menu-mob__item('Микроволновые печи', false)(class='menu-mob__item_light')
						+menu-mob__item('Кофемашины', false)(class='menu-mob__item_light')
						+menu-mob__item('Стиральные машины', false)(class='menu-mob__item_light')
						+menu-mob__item('Морозильники', false)(class='menu-mob__item_light')
						+menu-mob__item('Шкафы для вакуумирования', false)(class='menu-mob__item_light')
						+menu-mob__item('Аксессуары для встраиваемой техники', false)(class='menu-mob__item_light')
				+menu-mob__item('Скидки', false)(class='menu-mob__item_sale')
				+menu-mob__item('Оплата', false)
				+menu-mob__item('Доставка', false)
				+menu-mob__item('Рассрочка', false)
				+menu-mob__item('Блог', false)
				+menu-mob__item('Адреса магазинов', false, true, 'geo')
				+menu-mob__item('Избранное', false, true, 'heart', 23)
				+menu-mob__item('Сравнение', false, true, 'compare', 3)
				+menu-mob__item('Личный кабинет', false, true, 'acc')
				+menu-mob__item('Город доставки', false, false, false, 'Минск', true)(data-toggle="modal" data-target="#modal-location")

			+contact-card()

