mixin menu-mob__item(name= 'Name', collapse= false, icon= false, icon_name, name_count, no_link)
	- var id = Math.round(9999999*Math.random());
	.menu-mob__item-wrap
		.menu-mob__item()&attributes(attributes)
			if (collapse)
				.menu-mob__item-collapse-toggle(data-toggle="collapse" data-target="#ID" + id aria-expanded="false" aria-controls= 'ID' + id)
			if (icon)
				+icon(icon_name)(class='menu-mob__item__icon', style='width: 24px; height: 24px')
			if (no_link)
				.menu-mob__item-name(href='#')= name
					if (name_count)
						| &nbsp;
						span.menu-mob__item-name__count= name_count
			else
				a.menu-mob__item-name(href='#')= name
					if (name_count)
						| &nbsp;
						span.menu-mob__item-name__count= name_count
		if (collapse)
			.menu-mob__item-collapse.collapse(id= 'ID' + id)
				block
