mixin breadcrumb()
	+b.breadcrumb()&attributes(attributes)
		+e('ul').__list(itemscope itemtype="http://schema.org/BreadcrumbList")
			+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(href="/" title="Главная" itemprop="item")
					span(itemprop="name") Главная
					meta(itemprop="position" content="0")
			+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(href="#" title="Бытовая техника" itemprop="item")
					span(itemprop="name") Бытовая техника
					meta(itemprop="position" content="1")
			+e('li').__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				a(href="#" title="Техника для дома" itemprop="item")
					span(itemprop="name") Техника для дома
					meta(itemprop="position" content="2")
			+e('li').__item.active(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
				span(itemprop="name") Стиральные и сушильные работы
				meta(itemprop="position" content="3")


