//Options
@import "common/settings";

//Mixins sass
@import "./mixins/*.{scss,sass}";

// Reset
@import 'common/reset';

//Vendors
@import "vendors/vendors";

//Atomic
@import "atomic/atomic";

//Fonts
@import "common/fonts";

//Partials styles
@import "../../partials/**/style.{scss,sass}";

//Blocks styles
@import "../../blocks/**/style.{scss,sass}";

//Mixins styles
@import "../../mixins/**/style.{scss,sass}";

// fix IE11
@import "common/ie";

// fix Safari
@import "common/ios";

// no-js fix
@import "common/nojs-fix";

a {
	transition: color .3s ease;
}

svg {
	transition: fill .3s ease;
}

.link {
	color: #3450F2;
	display: inline-block;
	position: relative;
	text-decoration: none!important;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 2px;
		width: 100%;
		border-bottom: 1px solid rgba(52, 80, 242, 0.3);
		opacity: 0;
		transition: opacity .3s ease;
	}
	&:hover:after {
		opacity: 1;
	}

	&:hover {
		color: #3450F2;

		svg {
			fill: #3450F2;
		}
	}


	&:active {
		color: #3046C2;

		svg {
			fill: #3046C2;
		}
	}
}


.article-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #19214F;
	margin-bottom: 15px;
}

@media (max-width: 575px) {
	.container.container-mob-no-padding {
		padding: 0;

		.article-title {
			padding: 0 15px;
		}
	}
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
	.article-title {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 30px;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
