mixin modal-test()
	#modal-test.modal.fade.modal-test(tabindex='-1', role='dialog')&attributes(attributes)
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					.modal-title Modal title
					button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
						+icon('close')(style='width: 24px; height: 24px')
				.modal-body
					p body

