mixin lazy-img(mod, src, src_placeholder, mod_wrap)
	span.lazy-img-wrap(class= mod_wrap)
		img.lazy-img(class= mod, src=src_placeholder || 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src=src, alt='img')
		span.preloader
