.modal {
	padding: 0 !important;
}

.modal-dialog {
	max-width: 610px;
	margin: 0;
	border-radius: 0;
}

.modal-content {
	border: none;
	border-radius: 0;
	min-height: 100vh;
}

.modal-body {
	padding: 0 15px;
}

.modal-header {
	padding: 55px 15px 0;
	position: relative;
	border: none;
}

.modal-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #19214F;
	margin-bottom: 15px;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 10px;
	border: none;
	width: 24px;
	height: 24px;
	background: 0 0;
	cursor: pointer;
	padding: 3px;

	svg {
		width: 100% !important;
		height: 100% !important;
	}

	&:hover {
		svg {
			fill: #3450F2;
		}
	}

	&:active {
		svg {
			fill: #3046C2;
		}
	}
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {
	.modal-dialog {
		margin: 180px auto;
	}
	.modal-header {
		padding: 50px 70px 0;
	}
	.modal-content {
		height: auto;
		min-height: auto;
	}

	.modal-body {
		padding: 0 70px 60px;
	}

	.modal-close {
		top: 35px;
		right: 35px;
		padding: 0;
	}
	.modal-title {
		margin-bottom: 20px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
