extends ../layout/layout-empty

block vars
	- var bodyClass = 'inner'
	- var pageTitle = '500'
	- var dir = './'
	- var layout = ''
	- var componentsList = ['pages-viget', 'inner-pages']

block main

	include ../components/inner-pages/500

block componentsStyles
	+style-includer()

block scripts