extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Пустая'
	- var dir = './'
	- var layout = ''
	- var componentsList = ['pages-viget']
	- var componentsCriticalList = []
	- var componentsScriptsList = []


block main

	.container.content
		.row
			.col-12
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus aut beatae, velit placeat quasi tenetur mollitia et nobis ducimus dignissimos assumenda vero, amet harum maxime totam sequi at exercitationem adipisci?


block popups

block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
