extends ../layout/layout

block vars
	- var bodyClass = ''
	- var pageTitle = 'Эталонка'
	- var dir = './'
	- var componentsList = []
	- var componentsCriticalList = []
	- var componentsScriptsList = []
	- var isSidebar = true

	//- подключение миксинов контентных виджетов


block main

	include ../components/breadcrumb/breadcrumb--compress

	.container
		.row
			.col-lg-3
			
			.col-lg-9.col-md-12.content

				.content-img.content-img--center
					.content-img-overlay
						img(src="https://picsum.photos/935/290", alt="img")
					span.img-descr Картинка с оверлеем

				h1 H1 Montserrat SemiBold 28
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой #[a(href="#") на источники в администрации] президента пишут «Ведомости».

				hr
				h1.small H1.small 24 - Заголовок если не влазит в контент
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

				hr
				h2 H2 Montserrat SemiBold 24
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

				hr
				h3 H3 Montserrat SemiBold 20
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

				hr
				h4 H4 Montserrat SemiBold 18
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

				hr
				h2 Типографские стили
				p #[b bold] #[br] #[strong strong] #[br] #[small small] #[br] #[i курсив i] #[br] #[em курсив em] #[br] #[s перечеркнутый текст S] #[br]

				hr
				h3 Жирный текст
				p
					b Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
				p Утверждается, что явку решили не стимулировать в Свердловской, Ярославской, Калининградской и Кировской областях, а также в Бурятии. Это поможет гарантировать победу поддержанных Кремлем кандидатов.
				p В двух случаях собеседник «Ведомостей» связывает такое решение с сильными конкурентами кандидатов от власти: оппозиционер #[a(href="#") Евгений Ройзман] в Свердловской области и сенатор Вячеслав Мархаев в Бурятии.
				p По информации издания, в Ярославской и Кировской области против назначенцев Кремля выступили местные элиты. Наконец, выдвинутого в Калининградской области Антона Алиханова сочли слишком молодым.
				p В 2016 году РБК писало, что #[mark новый первый замглавы] администрации Кремля Сергей Кириенко поставил задачу обеспечить на выборах президента в 2018 году явку 70 процентов и результат 70 процентов за основного кандидата.
				p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать на любом участке, записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.

				hr
				h3 Blockquote
				blockquote.blockquote От 122 руб. в месяц за новый автомобиль – теперь это реально, благодаря представленной Renault новой кредитной программе в белорусских рублях. Кредит оформляется прямо в салоне, а ключи от нового авто можно получить в течение всего 30 минут.

				hr
				p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать #[mark на любом участке], записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.

				hr
				p.text-deleted Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, в сентябре 2017 года.

				hr
				h3 Текст без тега
				| Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Картинка с left центрированием
				.content-img.content-img--left
					img(src="https://picsum.photos/600/450", alt="img")
					span.img-descr Кадр из фильма «Энни Холл»
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
				p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на

				hr
				h3 Картинка с right центрированием
				.content-img.content-img--right
					img(src="https://picsum.photos/600/450", alt="img")
					span.img-descr Кадр из фильма «Энни Холл»
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
				p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Картинка с center центрированием
				.content-img.content-img--center
					img(src="https://picsum.photos/600/450", alt="img")
					span.img-descr Кадр из фильма «Энни Холл»
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
				p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Картинка с center центрированием по атрибуту.
				p #[img(src="https://picsum.photos/600/450", align="center", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Картинка с left центрированием по атрибуту.
				p #[img(src="https://picsum.photos/600/450", align="left", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Картинка с right центрированием по атрибуту.
				p #[img(src="https://picsum.photos/600/450", align="right", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»].
				p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

				hr
				h3 Youtube видео
				.yout-wrap
					.video-youtube(id='-1QrrqfivfM' data-params="modestbranding=1&showinfo=0&vq=hd720&rel=0")
						+icon('video-play')

				hr
				h3 Стандартный нумерованный список с вложенными ul,li списками
				ol
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
						ul
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
						ol
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
				hr
				h3 Нумерованный список
				ol
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
				hr
				h3 Стандартный не нумерованный список с вложенными ul,li списками
				ul
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
						ul
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
							li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5

				h3 Цитата
				blockquote.blockquote Мы остались довольные качеством выполненных работ, а так же полным соблюдением сроков и бюджета проекта. Несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента.

				hr
				h2 Аккордеон 1
				.accordion.accordion--type1
					.accordion__item
						.accordion__title.collapsed(data-toggle="collapse" data-target="#collap_acc11" aria-expanded="false" aria-controls="collap_acc11") #[span Администрация]
						.accordion__content.collapse.in#collap_acc11
							.accordion__content-inner Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.
					.accordion__item
						.accordion__title.collapsed(data-toggle="collapse" data-target="#collap_acc12" aria-expanded="false" aria-controls="collap_acc12") #[span Бухгалтерия]
						.accordion__content.collapse.in#collap_acc12
							.accordion__content-inner Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.

				hr
				h2 Аккордеон 2
				.accordion.accordion--type2
					.accordion__item
						.accordion__title.collapsed(data-toggle="collapse" data-target="#collap_acc21" aria-expanded="false" aria-controls="collap_acc21") #[span Администрация]
						.accordion__content.collapse.in#collap_acc21
							.accordion__content-inner Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.
					.accordion__item
						.accordion__title.collapsed(data-toggle="collapse" data-target="#collap_acc22" aria-expanded="false" aria-controls="collap_acc22") #[span Бухгалтерия]
						.accordion__content.collapse.in#collap_acc22
							.accordion__content-inner Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.

				hr
				h3 Табы
				ul.nav.nav-tabs
					li.nav-item
						a.nav-link.active(href='', data-target='#tab-1', data-toggle='tab') Финансовый отдел
					li.nav-item
						a.nav-link(href='', data-target='#tab-2', data-toggle='tab') Отдел IT
					li.nav-item
						a.nav-link(href='', data-target='#tab-3', data-toggle='tab') Отдел маркетинга

				.tab-content
					#tab-1.tab-pane.fade.active.show
						.content
							p По информации издания, в Ярославской и Кировской области против назначенцев Кремля выступили местные элиты. Наконец, выдвинутого в Калининградской области Антона Алиханова сочли слишком молодым.
					#tab-2.tab-pane.fade
						.content
							p В 2016 году РБК писало, что #[mark новый первый замглавы] администрации Кремля Сергей Кириенко поставил задачу обеспечить на выборах президента в 2018 году явку 70 процентов и результат 70 процентов за основного кандидата.
					#tab-3.tab-pane.fade
						.content
							p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать на любом участке, записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.

				hr
				h3 Таблица 1
				+b.ntable
					+e.__title ТЦ «Центральный»
					+e.__wrap
						table
							thead
								tr
									th.head-first №
									th.head-brand Электрооборудование
									th Системы для дома
									th В наличии (шт.)
									th цена (руб.)
							tbody
								tr
									td 1
									td
										+e.__brand
											img.brand-pic(src="./images/brand-logo_1.png", alt="brand logo")
											span.brand-name Werker
									td Модульное
									td 5
									td 250 250 000 00
								tr
									td 2
									td
										+e.__brand
											span.brand-name Sparta#[span.note *]
									td Конструктор
									td 2281
									td 789 787
								tr
									td 3
									td
										+e.__brand
											span.brand-name DWT#[span.note ****]
									td Пакетное
									td 1254
									td 255

				+b.ntable
					+e.__title ТЦ «Центральный»
					+e.__wrap
						table
							thead
								tr
									th.head-first №
									th.head-brand ЭЛЕКТРООБОРУДОВАНИЕ
									th СИСТЕМЫ ДЛЯ ДОМА
									th В НАЛИЧИИ (шт.)
									th ЦЕНА (руб.)
							tbody
								tr
									td 1
									td
										+e.__brand
											span.brand-name Metabo#[span.note 25]
									td Модульное
									td 123
									td 123 123
								tr
									td 2274
									td
										+e.__brand
											span.brand-name Стойка сверлильная для дрели (220) DREMEL 26150220JB, Минск
									td Модульное
									td 123
									td 123 123
								tr
									td 2274
									td
										+e.__brand
											a.brand-name(href='#') Дрель BOSCH EasyImpact 550, 0603130020, Минск
									td
										a(href="#") Модульное
									td 123
									td 123 123
					+e.__legend
						.row
							.col-xl-4.col-lg-6
								+e.__legend-item #[span.note *] Немецкий производитель
								+e.__legend-item #[span.note **] Итальянский производитель
								+e.__legend-item #[span.note ***] Только опт
								+e.__legend-item #[span.note ****] Добавлен запасной аккумулятор
							.col-xl-4.col-lg-6
								+e.__legend-item #[span.note 1] — Немецкий производитель
								+e.__legend-item #[span.note 2] — Итальянский производитель
								+e.__legend-item #[span.note 42] — Добавлен запасной аккумулятор
								+e.__legend-item #[span.note 69] — Добавлен запасной аккумулятор


				hr
				h3 Элементы форм
				form.bv-form#js_lazy-load-validation-1(enctype='multipart/form-data', method='POST', action='#', autocomplete='on', novalidate='novalidate')
					.row
						.col-lg-6.col-md-12
							.form-group
								label.field-label(for='FIELD-1') ФИО
								input.form-control.js_label-fly#FIELD-1(
										type='text',
										name='FIELD-1',
										data-bv-field='FIELD-1',
										data-bv-message='Укажите Ваше ФИО',
										required
									)
							.form-group
								label.field-label(for='FORM2_FIELD_EMAIL') Ваш E-mail #[span.field-label-descr (Если вы сотрудник)]
								input#FORM2_FIELD_EMAIL.form-control(
									type='email',
									name='FIELDS[EMAIL]',
									data-bv-field='FIELDS[EMAIL]',
									data-bv-message='Укажите свой e-mail! На него мы вышлем вам ответ.',
									data-bv-emailaddress-message='E-mail введен некорректно',
									required
								)
							.form-group
								label.field-label(for='FORM2_FIELD_PHONE') Ваш телефон
								input#FORM2_FIELD_PHONE.form-control(
									type='tel',
									name='FIELDS[PHONE]',
									data-inputmask-mask='+7 (999) 999-9999',
									data-bv-message='Необходимо ввести номер телефона',
									required
								)
							.form-group
								label.field-label(for='FORM2_FIELD_PASS1') Пароль
								input#FORM2_FIELD_PASS1.form-control(
									type='password',
									name='password',
									data-bv-field='password',
									data-bv-message='Введите пароль',
									data-bv-identical="true",
									data-bv-identical-field="confirmPassword",
									data-bv-identical-message='Пароли не совпадают',
									required
								)
							.form-group
								label.field-label(for='FORM2_FIELD_PASS2') Повторите пароль
								input#FORM2_FIELD_PASS2.form-control(
										type='password'
										name='confirmPassword'
										data-bv-field='confirmPassword'
										data-bv-message='Введите пароль'
										data-bv-identical="true"
										data-bv-identical-field="password"
										data-bv-identical-message='Пароли не совпадают'
										required
									)
							.form-group
								label.field-label(for='#select-1') Выберите что-нибудь
								select.select-styler.not-init#select-1(
										name='FIELDS[SELECT]'
										data-placeholder=""
										data-bv-field='FIELDS[SELECT]'
										data-bv-message='Нужно что-нибудь выбрать'
										required
									)
									option
									option Пункт 1
									option Lorem ipsum dolor sit amet.
									option Lorem ipsum dolor sit amet consectetur fqwefqwe adipisicing elit. Iste, ullam!
									option Пункт 1
									option Пункт 1option Пункт 1
									option Пункт 1option Пункт 1
									option Пункт 1option Пункт 1
									option Пункт 1option Пункт 1
									option Пункт 1
							.form-group
								label.field-label(for='field[text]') Ваш E-mail #[span.field-label-descr (600/600)]
								textarea.textarea(
									name='field[text]'
									data-bv-field='field[text]'
									data-bv-message='Напишите сообщение'
									required
								)
							.form-group
								.checkbox
									input(
										type='checkbox',
										id="agreerools",
										name='FIELDS[ACCEPT]',
										checked,
										value='Да',
										required,
										data-bv-message='Необходимо дать согласие',
										data-bv-field='FIELDS[ACCEPT]'
									)
									label(for="agreerools") Я принимаю #[a(href="#") правила обработки данных] и #[a(href="#") обработки информации]
							.form-group
								.radio
									input(
										type='radio',
										id='radio1', 
										name='FIELDRADIO',
										required
										data-bv-message='Необходимо выбрать',
										data-bv-field='FIELDS[FIELDRADIO]'
									)
									label(for='radio1') Lorem radio 1
								.radio
									input(
										type='radio',
										id='radio2', 
										name='FIELDRADIO',
										required
										data-bv-message='Необходимо выбрать',
										data-bv-field='FIELDS[FIELDRADIO]'
									)
									label(for='radio2') Lorem radio 2
							.form-group
								label.field-label(for='#select-2') Выберите несколько
								select.js_select2-init#select-2(
										name="states[]" 
										multiple="multiple"
										data-bv-field='states[]'
										data-bv-message='Необходимо выбрать'
										required
									)
									option Пункт 1
									option Пункт 2
									option Пункт 3
									option Lorem ipsum dolor sit amet
									option Пункт 3
									option Пункт 334
									option Lorem ipsum dolor sit amet frwef wefwef
									option Пункт 3


					.row
						.col-12
							button.btn(type='submit') Кнопка

				hr
				h3 Календарь
				.row
					.col-md-6
						.form-group
							+datapicker('single')

				hr
				h3 Кнопки
				.wrap.mb20
					button.btn Войти на сайт
					button.btn(disabled) Disabled
				.wrap.mb20
					button.btn.btn--icon Кнопка с иконкой
						+icon('i-cart')
					button.btn.btn--icon.btn--sm Кнопка с иконкой
						+icon('i-cart')
					button.btn.btn--icon.btn--sm(disabled) Кнопка с иконкой
						+icon('i-cart')
				.wrap.mb20
					button.btn Обычная кнопка
					button.btn.btn--sm Маленькая кнопка
				.wrap.mb20
					button.btn.btn--outline Кнопка с обводкой
					button.btn.btn--outline.btn--sm Кнопка с обводкой
					button.btn.btn--outline(disabled) Кнопка с обводкой
				.wrap.mb20
					button.btn.btn--outline.btn--sm.btn--more Показать еще 26 товаров
					button.btn.btn--outline.btn--sm.btn--more.more-loading Показать еще 26 товаров

				.wrap.mb20(style='background: #8D5B8F; padding: 30px')
					button.btn.btn--outline-in Кнопка с обводкой
					button.btn.btn--outline-in(disabled) Кнопка с обводкой

				hr
				h3 Пагинация

				hr
				h3 Блок Поделиться

				hr
				h3 Модалки
				a.db(href="#modalTest" data-toggle='modal') Modal test

				hr
				h3 Прелоадер
				.same-block.preloader(style='padding: 30px')
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corrupti atque sit sapiente eligendi dolorum quis, dolor sint similique provident consequatur nesciunt recusandae nam iure voluptates illum alias minus! Officiis ipsa quis, blanditiis perferendis quas quaerat debitis dignissimos illum et a eos necessitatibus corporis dolores labore distinctio consectetur veniam similique praesentium! Corrupti ad inventore mollitia velit! Cupiditate magni hic totam blanditiis delectus molestias ea tempora ipsa sequi fugit maiores inventore libero culpa animi, dolorum voluptatum natus odio quasi asperiores provident officia veniam quidem optio quod! Quisquam rerum neque praesentium modi itaque quibusdam maxime laborum veniam quis temporibus eum, omnis consequatur.

				//- hr
				//- h3 Ссылки с иконками
				//- +link-arrow('lorem')
				//- +link-icon('text', 'i-marker', 'Адресс')
				//- +link-icon('text', 'i-time', 'С 12:00 до 21:00')
				//- +link-icon('link', 'i-phone', '+7 (495) 123-45-67')
				//- +link-icon('mail', 'i-mail', 'same@mail.com')

				hr
				h3 Иконки
				.etalon-icons
					+icon('i-arrow1')
				style.
					.etalon-icons .icon {
						display: inline-block;
						width: 40px;
						height: 40px;
						margin-right: 10px;
						fill: #000;
					}




block popups


block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	//- Элементы форм
	script(src="./js/vendor/jquery.formstyler.min.js" defer)
	//- Слайдер
	//- script(src="./js/vendor/slick.min.js" defer)
	//- script(src="./js/vendor/LazySlider.min.js" defer)
	//- Галерея фоток
	//- script(src="./js/vendor/jquery.magnific-popup.min.js" defer)

	//- 
	script(src="./js/vendor/select2.min.js")

	// слежение за скроллом страницы
	script(src="./js/vendor/noframework.waypoints.min.js")

	// Календарь выбора даты
	script(src="./js/vendor/moment.min.js")
	script(src="./js/vendor/daterangepicker.js")
