extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Главная'
	- var dir = './'
	- var layout = ''
	- var componentsList = []
	- var componentsCriticalList = []
	- var componentsScriptsList = []


block main
	include ../components/hero/hero
	include ../components/preference/preference
	include ../components/bestseller/bestseller
	include ../components/additional/additional
	+banner_s1()

block popups
	include ../partials/modal/modal-location/modal-location

block componentsCriticalStyles
	+componentsCriticalStyles-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/slick.min.js")
	script(src="./js/vendor/noframework.waypoints.min.js")
