.content
	font-size: $c-size
	line-height: 1.875

	a
		+transish()
		
		&:not([class])
			text-decoration: underline
			color: $c-sec
			word-break: break-word

		&:hover
			color: $c-main
			text-decoration: none

	.h1,
	h1,
	.h2,
	h2,
	.h3,
	h3,
	.h4,
	h4,
	.h5,
	h5,
	.h6,
	h6
		display: block
		font-weight: 600
		margin-bottom: 20px
		line-height: 1.3
		letter-spacing: 0.03em

	hr
		position: relative
		height: 1px
		border: 0
		margin: 20px 0
		background: $c-bg

		&:after,
		&:before
			content: ''
			display: table
			clear: both

	.h1,
	h1
		font-size: 28px
		font-weight: 600

		&.small
			font-size: 24px

	.h2,
	h2
		font-size: 24px
	

	.h3,
	h3
		font-size: 20px

	.h4,
	h4
		font-size: 16px

	// .h5,
	// h5
	// 	font-size: 20px
	// 

	// .h6,
	// h6
	// 	font-size: 18px
	// 

	//Маркированный список
	.list,
	ul:not([class])
		list-style: none
		padding: 0
		margin-bottom: 25px

		li
			position: relative
			padding-left: 33px
			padding-bottom: 25px
			color: $c-text

			+media($md)
				padding-left: 20px

			&:before
				+pseudo
				left: 0
				top: 8px
				width: 8px
				height: 8px
				background-color: $c-sec

			p
				font-size: inherit
			

			& > ul
				margin-top: 20px
				margin-bottom: 0

				li
					font-size: inherit

					&:before
						border: 2px solid $c-sec
						background-color: #fff
						box-sizing: border-box
					

					&:last-child
						padding-bottom: 0

			&:last-child
				padding-bottom: 0

	p
		margin-bottom: 16px

	//Нумерованный список
	.count-list,
	ol:not([class])
		counter-reset: list
		list-style: none
		margin: 0
		padding: 0
		margin-bottom: 25px

		> li
			position: relative
			color: $c-text
			padding-left: 35px
			padding-bottom: 25px

			+media($md)
				padding-left: 25px

			&:before
				content: counters(list, ".") " "
				counter-increment: list
				position: absolute
				display: block
				left: 0
				top: 3px
				padding: 4px 6px
				color: #fff
				font-size: 12px
				font-weight: 600
				line-height: 1
				font-family: $f-main
				background-color: $c-sec
				box-sizing: border-box

			&:last-child
				padding-bottom: 0

			& > ul
				margin-top: 20px
				margin-bottom: 0

				li
					position: relative
					padding-left: 35px
					font-size: inherit

					+media($md)
						padding-left: 15px
					

					&:before
						+pseudo
						background: $c-main
						left: 0
						top: 8px
						width: 8px
						height: 8px
						background-color: #fff
						border: 2px solid $c-sec
						box-sizing: border-box

					& > ul
						li
							&:before
								background-color: $c-bg

			& > ol
				margin-top: 20px
				margin-bottom: 0

				li
					position: relative
					padding-left: 35px
					font-size: inherit

					+media($md)
						padding-left: 0px

					&:before
						position: static
						display: inline-block
						margin-right: 5px


	.list-reset
		
		li
			padding-left: 0 !important

			&:before
				display: none !important

	mark
		background: $c-main
		color: #fff
		padding: 0 5px

	.content-img
		max-width: 40%

		+media($sm)
			max-width: 100%

		.img-descr
			display: block
			margin-top: 15px
			color: #828282
			font-size: 14px
			text-align: center
			font-style: italic

		&--left
			float: left
			margin: 0 40px 20px 0

			+media($sm)
				float: none
				margin: 0 auto 20px

			img
				display: block
				margin: 0 auto

		&--right
			float: right
			margin: 0 0 20px 40px

			+media($sm)
				float: none
				margin: 0 auto 20px

			img
				display: block
				margin: 0 auto

		&--center
			max-width: 100%
			display: block
			float: none
			text-align: center
			margin-bottom: 20px

			img
				margin: 0 auto

		&-overlay
			position: relative
			
			&:after
				+pseudo
				+sizeblock(100%)
				@extend %trbl
				background: radial-gradient(318.61px at 36.09% 25.62%, #8D5B8F 0%, #8D5B8F 14.06%, #F5890A 100%)
				mix-blend-mode: screen

		+media($sm)

			.img-inner
				float: none
				text-align: center
				display: block
				width: 100%
				max-width: 100%
				margin: 10px 0 20px 0

				img
					float: none
					margin: 0

	img

		&[align='left']
			max-width: 40%
			margin: 0 40px 20px 0

			+media($sm)
				max-width: 100%
				float: none !important
				margin: 0 auto 20px

		&[align='right']
			max-width: 40%
			margin: 0 0 20px 40px

			+media($sm)
				max-width: 100%
				float: none !important
				margin: 0 auto 20px

		&[align='center']
			max-width: 40%
			margin: 0 auto 20px

			+media($sm)
				max-width: 100%
				float: none !important
				margin: 0 auto 20px

	.ntable

		&__title
			margin-bottom: 10px
			font-size: 14px
			font-weight: 600
			color: #000

		&__wrap
			overflow-x: auto
			margin-bottom: 20px

		&__brand
			display: flex
			align-items: center

			.brand-pic
				width: 32px
				height: 32px
				margin-right: 16px

			.brand-name
				display: block
				line-height: 1.8

		&__legend

			&-item
				font-size: 10px
				font-style: italic

				.note
					display: inline-block
					min-width: 25px
					margin-right: 5px
					text-align: right

		.note
			color: #FD4C77

		a
			color: $c-sec
			text-decoration: none

			&:hover
				color: $c-main

		table
			width: 100%
			min-width: 900px
			font-size: 14px
			-webkit-overflow-scrolling: touch
			-ms-overflow-style: -ms-autohiding-scrollbar
			text-transform: none
			border-bottom: 1px solid #f9f9f9

			thead
				background: $c-sec
				color: #fff
				font-size: 12px
				font-weight: 600
				text-transform: uppercase
			

			th
				font-weight: 400
				text-align: left
				padding: 14px 20px
			

			tr
				+transish

				&:nth-child(even)
					background: #f9f9f9

			td
				vertical-align: middle
				padding: 12px 20px

			.head-first
				width: 75px

			.head-brand
				width: 260px



	.text-deleted, 
	s
		text-decoration: line-through

	.blockquote
		display: block
		margin-bottom: 25px
		padding: 28px 35px
		font-size: 14px
		color: $c-text
		line-height: 1.7
		font-style: italic
		letter-spacing: 0.03em
		border-top: 1px solid $c-bg
		border-bottom: 1px solid $c-bg

		+media($md)
			padding: 25px 15px
			font-size: 12px

	.accordion
		
		&--type1

			.accordion

				&__item
					padding: 0 0 25px

				&__content
					font-size: 14px
					font-family: $f-main

					&-inner
						padding-top: 30px
						padding-bottom: 10px

						+media($lg)
							padding-top: 15px

				&__title
					position: relative
					width: 100%
					padding-right: 30px
					font-size: 18px
					font-weight: 600
					font-family: $f-main
					color: $c-text
					cursor: pointer
					+transish
					z-index: 1

					&:after
						+pseudo
						+sizeblock(calc(100% - 40px), 1px)
						top: 16px
						left: 0
						background-color: $c-bg
						z-index: 5

					&:before
						+pseudo
						width: 10px
						height: 10px
						top: 14px
						right: 3px
						background-color: $trp
						border-bottom: 2px solid $c-sec
						border-right: 2px solid $c-sec
						transform: rotate(-135deg)
						+transish
						z-index: 10

						+media($md)
							top: auto
							bottom: 9px

					&:hover
						color: $c-main

						&:before
							border-color: $c-main !important

					span
						position: relative
						display: inline-block
						padding-right: 35px
						background-color: #fff
						z-index: 10

					&.collapsed

						&:before
							top: 8px
							transform: rotate(45deg)

							+media($md)
								top: auto
								bottom: 14px
		
		&--type2

			.accordion

				&__item
					margin-bottom: 20px
					border: 1px solid $c-bg

				&__content
					font-size: 14px
					font-family: $f-main

					&-inner
						padding: 30px 40px 25px
						border-top: 1px solid $c-bg

						+media($lg)
							padding-top: 15px

				&__title
					position: relative
					width: 100%
					padding: 13px 30px 14px 25px
					font-size: 18px
					font-weight: 600
					font-family: $f-main
					color: $c-sec
					cursor: pointer
					+transish
					z-index: 1

					&:after
						+pseudo
						+sizeblock(35px)
						top: 13px
						right: 15px
						+circle
						+transish
						background-color: #F9F9F9
						z-index: 5

					&:before
						+pseudo
						width: 10px
						height: 10px
						top: 28px
						right: 26px
						background-color: $trp
						border-bottom: 2px solid $c-sec
						border-right: 2px solid $c-sec
						transform: rotate(-135deg)
						+transish
						z-index: 10

						+media($md)
							top: auto
							bottom: 16px

					&:hover
						color: $c-main

						&:after
							background-color: $c-main

						&:before
							border-color: #fff !important

					span
						position: relative
						display: inline-block
						padding-right: 35px
						background-color: #fff
						z-index: 10

					&.collapsed

						&:before
							top: 22px
							transform: rotate(45deg)

							+media($md)
								top: auto
								bottom: 21px




	// Табы
	.tab-content
		margin-top: 30px

		+media($md)
			margin-top: 20px
	
	.nav-tabs
		border-bottom: 1px solid $c-bg

		+media($md)
			flex-direction: column

		.nav-item
			margin: 0
			border: none !important
			border-radius: 0 !important
			+transish

			&:not(:last-child)
				margin-right: 30px

				+media($lg)
					margin-right: 15px

				+media($md)
					margin-right: 5px

			&:hover

				.nav-link
					color: $c-main

		.nav-link
			padding: 5px 60px
			font-size: 18px
			font-weight: 600
			color: $c-text
			border: none
			border-bottom: 2px solid $trp
			border-radius: 0 !important
			+transish

			+media($lg)
				padding: 5px 30px
				font-size: 16px

			+media($md)
				padding-left: 20px
				font-size: 14px
				border: none
				border-left: 2px solid $trp


			&:hover
				text-decoration: none	

			&.active
				color: $c-sec
				border-color: $c-sec
				text-decoration: none

				&:hover
					color: $c-sec
					cursor: default
					border-color: $c-sec

	.yout-wrap
		position: relative
		margin-bottom: 16px
		padding-bottom: 56.25%
		height: 0
		overflow: hidden
		z-index: 5

		.video-youtube,
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

		.video-youtube
			background-position: center
			background-repeat: no-repeat
			cursor: pointer

			&:after
				+pseudo
				+sizeblock(100%)
				top: 0
				right: 0
				bottom: 0
				left: 0
				background-color: #000
				opacity: 0.5
				z-index: 10

			&:hover

				.icon
					fill: $c-main
					transform: translate(-50%, -50%) scale(1.1)

			.icon
				position: absolute
				+sizeblock(80px)
				+center
				fill: #fff
				z-index: 20
				+transish

				+media($md)
					+sizeblock(48px)




	
svg
	display: block
	width: 100%
	height: 100%

img
	display: block
	max-width: 100%

a
	text-decoration: none
	// +transish()

	&:hover
		text-decoration: underline

	&:focus
		text-decoration: none
		outline: none
