$componentsCss: true;

// Grid
$xl: 1200px;
$lg: 1024px;
$md: 768px;
$sm: 580px;

$gutter: 30px;

$grid-breakpoints: (
	xs: 0,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);

// Fonts types
$c-size: 16px;
$f-main: "Roboto", Arial, Verdana, sans-serif;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;


// Colors
$c-main:		#19214F;
$c-sec:			#3450F2;

$c-bg:			#ccc;
$c-bg2:			rgba(65, 64, 102, 0.93);
$c-text:		#080808;
$c-blue:		#A5A4EF;
$c-link: 		#798089;

$trp: 			transparent;

$blue: #234399;
$red: #F45057;
$green: #379F2F;
$yellow: #e8a12b;
$white: #fff;
$black: #000;

$colors: (
	red: $c-main,
);
