#modal-location.modal.fade.modal-location(tabindex='-1', role='dialog')&attributes(attributes)
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				.modal-title Выберите город доставки
				button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
					+icon('close')(style='width: 24px; height: 24px')
			.modal-body
				form.modal-location-form
					.form-group.modal-location-form-group
						input.form-control.modal-location-form-control.form-control-search.js-form-control(type='text', aria-describedby='search', placeholder='Введите название н.п.')
						.form-control-optional.js-form-control-optional
							button.form-control-btn.form-control-clear.js-form-control-clear(type='button')
								+icon('close')(class='form-control-btn__icon', style='width: 24px; height: 24px')
							button.form-control-btn.form-control-submit(type='submit')
								+icon('search')(class='form-control-btn__icon', style='width: 24px; height: 24px')
					a.link.modal-location-link-geolocation(href='#') Определить автоматически
					.modal-location-popular__wrap
						.modal-location-popular__title Популярные города
						.modal-location-popular
							a.modal-location-popular-item.active(href='#') Минск
							a.modal-location-popular-item(href='#') Гомель
							a.modal-location-popular-item(href='#') Брест
							a.modal-location-popular-item(href='#') Гродно
							a.modal-location-popular-item(href='#') Витебск
							a.modal-location-popular-item(href='#') Могилев
							a.modal-location-popular-item(href='#') Лида
							a.modal-location-popular-item(href='#') Барановичи
							a.modal-location-popular-item(href='#') Бобруйск
							a.modal-location-popular-item(href='#') Волковыск
							a.modal-location-popular-item(href='#') Житковичи
							a.modal-location-popular-item(href='#') Ивацевичи
							a.modal-location-popular-item(href='#') Лунинец
							a.modal-location-popular-item(href='#') Новополоцк
					a.btn.btn-primary.modal-location-save(href='#') Запомнить выбор

