.modal-location-link-geolocation {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #3450F2;
}

.form-group.modal-location-form-group {
	margin-bottom: 10px;
}

.modal-location-popular {
	column-count: 2;
	padding: 0 0 0 30px;
}

.modal-location-popular-item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: rgba(25, 33, 79, 0.75);
	display: block;
	position: relative;
	padding: 0 30px 0 0;
	margin: 0 0 10px;

	&:hover {
		color: #3450F2;
	}

	&:active {
		color: #3046C2;
	}

	&.active {
		color: #333333;
	}

	&.active:before {
		content: '';
		position: absolute;
		display: block;
		top: 5px;
		left: -21px;
		width: 8px;
		height: 4px;
		border-bottom: 2px solid #3450f2;
		border-left: 2px solid #3450f2;
		transform: rotate(-45deg);
	}


}

.modal-location-popular__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #19214F;
	opacity: 0.4;
	margin: 0 0 15px;
}

.modal-location-popular__wrap {
	padding: 25px 0 15px 0;
}

.modal-location-save {
	width: 100%;
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {
	.modal-location-popular {
		padding: 0;
		column-count: 3;
	}
	.modal-location-form-control {
		height: 50px;
	}

	.modal-location-form .form-control-optional {
		position: absolute;
		top: 13px;
		right: 10px;
		display: flex;
		align-items: center;
	}

	.modal-location-popular__title {
		font-size: 14px;
		line-height: 24px;
	}

	.modal-location-popular__wrap {
		padding: 31px 0 40px 0;
	}

	.modal-location-save {
		width: auto;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
