.form-group {
	position: relative;
	margin-bottom: 20px;
}

.form-control {

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	height: 40px;
	color: #19214F;

	background: #FFFFFF;
	border: 1px solid #E5E5EA;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	padding: 10px 15px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #A7A7AB;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: #A7A7AB;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: #A7A7AB;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: #A7A7AB;
	}

	&:hover {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	}

	&:focus {
		border: 1px solid rgba(52, 80, 242, 0.2);
		outline: 1px solid rgba(52, 80, 242, 0.2);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	}

	&[disabled] {
		background: #FAFAFB;
		border: 1px solid #ECECF0;
		outline: none;
		box-shadow: none;
		user-select: none;
		cursor: no-drop;
	}
}
.form-control-search {
	padding: 10px 60px 10px 15px;
}
.form-control-clear {
	display: none;
}

.form-control:not(:placeholder-shown) ~ .form-control-optional .form-control-clear {
	display: block;
}

.form-control-clear__icon {
	width: 100% !important;
	height: 100% !important;
}

.form-control-optional {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
}

.form-control-btn {
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 4px;
	padding: 0;

	&:not(:last-child) {
		margin-right: 5px;
	}
}

.form-control-btn {
	cursor: pointer;

	&__icon {
		fill: #D9D9DE;
	}

	&:hover {
		svg {
			fill: #3450F2;
		}
	}

	&:active {
		svg {
			fill: #3046C2;
		}
	}
}

.form-control-submit {
	pointer-events: none;
}
