mixin lazy-picture(mod, src_source_arr, src, src_placeholder, mod_img)
	//- ПРИМЕР
		+lazy-picture('hero-slider-item__img-wrap', [
			{data_srcset: 'images/hero-1.jpg', srcset: 'images/placeholder/hero-1.jpg', media: '480'},
			{data_srcset: 'images/hero-1-mob.jpg', srcset: 'images/placeholder/hero-1-mob.jpg', media: '0'}],
			'images/hero-1.jpg', 'images/placeholder/hero-1.jpg', 'hero-slider-item__img')
	.lazy-img-wrap(class= mod)
		picture
			each src_source in src_source_arr
				source(data-srcset= src_source.data_srcset, srcset= src_source.srcset, media='(min-width: ' + src_source.media + 'px)')
			img.lazy-img(class= mod_img, data-src= src, src= src_placeholder,  alt='img')
		span.preloader
