.lazy-bg-wrap {
	display: block;
	position: relative;

	.preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.lazy-bg.loaded ~ .preloader {
		display: none;
	}
}
