mixin lazy-bg(src, src_placeholder, mod_wrap)
	.lazy-bg-wrap(class=mod_wrap)
		.lazy-bg(style='background-image: url(' + src_placeholder + ')' data-bg="url("+ src + "), linear-gradient(#fff, #ccc)", )&attributes(attributes)

