.additional
	.container.container-mob-no-padding
		.additional__container
			.article-title.additional__title Дополнительные услуги
			.additional-list
				a.additional-item(href='#')
					+icon('circle')(class='additional-item__icon')
					.additional-item__name Расширенная гарантия
				a.additional-item(href='#')
					+icon('rect')(class='additional-item__icon')
					.additional-item__name Доставка и самовывоз
				a.additional-item(href='#')
					+icon('triangle')(class='additional-item__icon')
					.additional-item__name Установка техники
				a.additional-item(href='#')
					+icon('romb')(class='additional-item__icon')
					.additional-item__name Рассрочка
