.additional {
	margin-bottom: 40px;
}

.additional-list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	border-top: 1px solid #F5F5F7;
}

.additional-item {
	width: 50%;
	height: 125px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #F5F5F7;
	padding: 10px 20px 20px;
	justify-content: space-between;
	text-decoration: none!important;

	&:nth-child(2n) {
		border-left: 1px solid #F5F5F7;
	}

	&:hover .additional-item__name:after {
			opacity: 1;
	}
}

.additional-item__icon {
	fill: transparent;
	width: 55px;
	height: 55px;
}

.additional-item__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #3450F2;
	position: relative;


	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 2px;
		width: 100%;
		border-bottom: 1px solid rgba(52,80,242,.3);
		opacity: 0;
		transition: opacity .3s ease;
	}
}


@media (max-width: 575px) {

}

@media (min-width: 576px) {
	.additional-list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		border-top: 1px solid #F5F5F7;
		border-left: 1px solid #F5F5F7;
		border-right: 1px solid #F5F5F7;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

	.additional-item {
		width: 25%;
		height: 220px;
		padding: 30px 20px 30px;

		&:nth-child(2n) {
			border-left: none;
		}

		&:not(:last-child) {
			border-right: 1px solid #F5F5F7;
		}
	}


	.additional-list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		border-top: 1px solid #F5F5F7;
		border-left: 1px solid #F5F5F7;
		border-right: 1px solid #F5F5F7;
	}

	.additional-item__icon {
		width: 120px;
		height: 120px;
	}
	.additional-item__name {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {

}

@media (min-width: 1440px) {

}
