include ../utility/bemto-setting
include ../utility/_globalVars
include ../utility/_mixins
include ../utility/_functions

block vars
	- var bodyClass;
	- var pageTitle;
	- var pageHead;
	- var dir;
	- var layout;
	- var isSidebar; // маркер наличия сайдбара на странице
	- var componentsList; //список имен всех компонентов
	- var componentsCriticalList; // список имен компонентов, стили которых нужно подключить инлайного в head
	- var componentsScriptsList; // список имен компонентов, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js

doctype html
html(lang='ru-RU')

	head
		meta(charset='UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= pageTitle

		// Подключение общих критический стилей
		link(rel='stylesheet', href= dir + '../assets/css/critical/critical.css' inline)
		
		// Подключение критический стилей отдельных страниц
		block componentsCriticalStyles
		
		// Предзагрузка шрифтов
		//link(rel='preload' href='fonts/Roboto/Roboto-Regular.woff2' as='font' crossorigin='anonymous')
		//link(rel='preload' href='fonts/Roboto/Roboto-Medium.woff2' as='font' crossorigin='anonymous')
		//link(rel='preload' href='fonts/Roboto/Roboto-Bold.woff2' as='font' crossorigin='anonymous')
		
		// Подключение стилей с помощью loadCSS техники
		link(rel='preload' href= dir + 'styles.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
		link(rel='preload' href= dir + 'css/styles.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
		noscript
			link(rel='stylesheet' href= dir + 'styles.css')
			link(rel='stylesheet' href= dir + 'css/styles.min.css')
		script.
			!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);

		// Полключение стилей компонентов (на бэке необходимо удалить allComponents.css)
		block componentsStyles
		
		// Мета инфо
		include ../utility/_favicon

	body.no-js(class=bodyClass)

		script.
			document.querySelector('body').classList.remove('no-js');

		.wrapper

			include ../partials/header/header

			main.main
				block main

			include ../partials/footer/footer

		// Модальные окна
		block popups

		// Фон мобильного меню
		.mob-overlay

		// Виджет для перехода по всем страницам проекта
		include ../components/pages-viget/pages-viget

		//- async defer
		// Либы, используемые на всех страницах
		script(src="./js/jquery/jquery-3.3.1.min.js")
		script(src="./js/vendor/svg4everybody.js" defer)
		
		// Вялая загрузка картинок
		script(src="./js/vendor/jquery.lazy.min.js" defer)
		script(src="./js/vendor/jquery.lazy.plugins.min.js" defer)

		// Либы для мобильных
		script.
			if ($(window).width() < 1024) {
				// hammer - свайп
				// VHfix - фиксация высоты мобильного меню для корректного отображения на мобильных
				var mob_liblist = ['hammer.min.js', 'VHfix.js'];
				mob_liblist.forEach(function(lib) {
					var libScript = document.createElement("script");
					libScript.src = './js/vendor/' + lib;
					$('body').append(libScript);
				});
			}
		//- Отложеная загрузка скриптов
		//- script.
			setTimeout(function() {
				var liblist = ['same.js'];
				liblist.forEach(function(lib) {
					var libScript = document.createElement("script");
					libScript.src = `./js/vendor/${lib}`;
					$('body').append(libScript);
				});
			}, 2000);
		
		// Либы, используемые только на этой странице
		block scripts
		
		// Основные скрипты для всех страниц
		script(src="./js/vendor/lazyload.min.js" defer)
		script(src="./js/app.min.js" defer)

		// Скрипты компонентов только для этой страницы
		block componentsScripts
