include ../utility/bemto-setting
include ../utility/_mixins
include ../utility/_functions

block vars
	- var bodyClass = ''
	- var pageTitle = ''
	- var pageHead = ''
	- var dir = ''
	- var layout = ''
	- var componentsList = [] //список имен всех компонентов

doctype html
html(lang='ru-RU')

	head
		meta(charset='UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= pageTitle

		include ../utility/_favicon

		link(rel='stylesheet', href= dir + '../assets/css/critical/critical.css' inline)
		link(rel='preload' href= dir + 'styles.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
		link(rel='preload' href= dir + 'css/styles.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
		noscript
			link(rel='stylesheet' href= dir + 'styles.css')
			link(rel='stylesheet' href= dir + 'css/styles.min.css')
		//- script.
			!function(c){"use strict";function e(e,t,n,o){var r,i=c.document,d=i.createElement("link");if(t)r=t;else{var a=(i.body||i.getElementsByTagName("head")[0]).childNodes;r=a[a.length-1]}var f=i.styleSheets;if(o)for(var l in o)o.hasOwnProperty(l)&&d.setAttribute(l,o[l]);d.rel="stylesheet",d.href=e,d.media="only x",function e(t){if(i.body)return t();setTimeout(function(){e(t)})}(function(){r.parentNode.insertBefore(d,t?r:r.nextSibling)});var s=function(e){for(var t=d.href,n=f.length;n--;)if(f[n].href===t)return e();setTimeout(function(){s(e)})};function u(){d.addEventListener&&d.removeEventListener("load",u),d.media=n||"all"}return d.addEventListener&&d.addEventListener("load",u),(d.onloadcssdefined=s)(u),d}"undefined"!=typeof exports?exports.loadCSS=e:c.loadCSS=e}("undefined"!=typeof global?global:this);
		script.
			!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);

		// Полключение стилей компонентов
		block componentsStyles

	body.no-js(class=bodyClass)

		script.
			var bodyNojs = document.querySelectorAll('body');
			bodyNojs[0].classList.remove('no-js');

		.wrapper

			main.main
				block main

		// Виджет для перехода по всем страницам проекта
		include ../components/pages-viget/pages-viget

		//- async defer
		script(src="./js/jquery/jquery-3.3.1.min.js")
		//- Нужен для бутстрапных dropdowns, popovers, tooltips 
		script(src="./js/vendor/popper.js" defer) 
		script(src="./js/bootstrap/bootstrap.min.js" defer)
		script(src="./js/vendor/svg4everybody.js" defer)
		// вялая загрузка картинок
		script(src="./js/vendor/jquery.lazy.min.js" defer)
		script(src="./js/vendor/jquery.lazy.plugins.min.js" defer)
		block scripts
		script(src="./js/app.min.js" defer)


